<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<link rel="stylesheet" href="/views/css/createpost.css">
</head>
<body class="bg">
    
    <br>
    <div class="container">

        <div class="jumbotron" style="background-color: blanchedalmond;">
            <!-- Template Needs to be implemented at a later time -->
            <h1 class="display-4" style="font-family:''"><center><strong>Creating a Post</strong></center></h1>
            
            <br>

            <hr class="my-4">

            <p><strong><center>Create a New GoFish Post  (all fields are required!)</center></strong></p>
            <br><br>

            <div class="jumbotron" style="background-color: blanchedalmond;">
                <form action="/createpost/uploadImage" method = "post" enctype = "multipart/form-data" id = "file_upload">
                    <p><center><strong>Picture Upload</strong></center></p>
                    <p>
                      <input type = "file" id = "file" name ="upload_image">

                    </p>

                    <button type="submit" class="btn btn-primary btn-block">Upload Image</button>
                    
                </form>

                
            </div>

            <form action="/createpost/addpost" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Post Title:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Postname" id="Postname"  placeholder="Enter the Title of Your Post">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Post Content:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Postcontent" id="Postcontent" placeholder="Tell Us What You Want to Share" style="height:100px; width:870px">
                    </div>
                </div>
    
                <br>

                <button type="submit" class="btn btn-primary btn-block">Submit</button>

                <br><br><br><br>


                


            
                </div>
            </form>

            

            
           

        
    </div>
    <script src="../scripts/login.js"></script>
    <br><br>
</body>
</html>