<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<link rel="stylesheet" href="/css/login.css">
<html>
    <head>
        <title>Go Fish</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <!--TODO: Add navbar-->

        <nav class="navbar navbar-expand-sm sticky-top" style="background-color: blanchedalmond;">
            <ul class="navbar-nav">
                <li>
                    <a href="https://www.google.com/search?q=fish&rlz=1C1CHZO_enUS907US907&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj3hdrEj5L2AhU0O30KHag5AvgQ_AUoAXoECAEQAw" target="_bla">
                        <img src="..\img\GoFishLogo.png" width="300px" height="50px">
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href= 2home2.html>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href= 2feed2.html >Feed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href= 2register2.html>Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href= 2login2.html>Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href= 2me2.html>Profile</a>
              </li>
            </ul>
        </nav>

        <style>
          @font-face {
            font-family: b2g2a;
            src: url(bengrraas-bold.woff);
            }
            
            * {
            font-family: b2g2a;
            }
            
              /* Use this to add a background image to a jumbotron -Matthew */
        .jbimage {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }
            .subbut {background-color: #4CAF50;}

            body, html {
              height: 100%;
              margin: 0;
            }
        </style>
    </head>

    <body style="background-image: url(https://i.pinimg.com/originals/eb/57/ce/eb57ced271aecdfc5e63b4b6d23024a1.jpg);  background-size: cover;">

      <br><br><br>
    <div class="container">
      <div class="jumbotron bg-light jbimage text-block" style="background-image: url(https://img.traveltriangle.com/blog/wp-content/uploads/2018/11/Rivers-of-the-World-Cover.jpg);">
        <br><br><br><br>
        <div class = "jumbotron" style="background-color: blanchedalmond;">
          <h1 class="display-4 text-center text-block">GO FISH!!</h1>
        <p class="lead text-center text-block">This is the best fishing website you have ever visited in your entire life!!!</p>
        <hr class="my-4">
        <p class="text-block" style="margin-right:200px">Search for a user here:</p>
  
        <div class="container">
          <!--<form class="form-inline">
            <input class="form-control" name="searchbar"  type="text" placeholder="Where do you fish?">
            <button class="btn subbut" type="submit">Find Fish</button>
          </form>-->
          <form action="route/to/take" method="get" class="form-inline">
            <input class="form-control" type="text" name="THEusername" placeholder="Type a Username">
            <button class = "btn subbut" type="submit">Submit</button>
          </form>
        </div>
        </div>
        <br><br>
      </div>
    </div>
        
    </body>
</html>