<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<link rel="stylesheet" href="/views/css/home.css">
</head>

    <body style="background-image: url(https://i.pinimg.com/originals/eb/57/ce/eb57ced271aecdfc5e63b4b6d23024a1.jpg);  background-size: cover;">

      <br><br><br>
    <div class="container">
      <div class="jumbotron bg-light jbimage text-block" style="background-image: url(https://img.traveltriangle.com/blog/wp-content/uploads/2018/11/Rivers-of-the-World-Cover.jpg);">
        <br><br><br><br>
        <div class = "jumbotron" style="background-color: blanchedalmond;">
          <h1 class="display-4 text-center text-block">GO FISH!!</h1>
        <p class="lead text-center text-block">This is the best fishing website you have ever visited in your entire life!!!</p>
        <hr class="my-4">
        <p class="text-block" style="margin-right:200px">Search for a user here:</p>
  
        <div class="container">
          <!--<form class="form-inline">
            <input class="form-control" name="searchbar"  type="text" placeholder="Where do you fish?">
            <button class="btn subbut" type="submit">Find Fish</button>
          </form>-->
          <form action="route/to/take" method="get" class="form-inline">
            <input class="form-control" type="text" name="THEusername" placeholder="Type a Username">
            <button class = "btn subbut" type="submit">Submit</button>
          </form>
        </div>
        </div>
        <br><br>
      </div>
    </div>
        
    </body>
</html>