<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
	<link rel="stylesheet" href="/views/css/login.css" type="text/css">
	<script>
		function byEmail(option) {
		  if(option === 1)
		  {
			document.getElementById("eoption").style.visibility = "visible";
			//document.getElementById("eoption").style.height = "auto";
		
			document.getElementById("uoption").style.visibility = "hidden";
			//document.getElementById("uoption").style.height = 0;
		  }
		  else
		  {
			document.getElementById("eoption").style.visibility = "hidden";
			//document.getElementById("eoption").style.height = 0;
		
			document.getElementById("uoption").style.visibility = "visible";
			//document.getElementById("uoption").style.height = "auto";
		  }
		  
		}
		</script>
</head>
<body style="background-image: url(https://i.pinimg.com/originals/eb/57/ce/eb57ced271aecdfc5e63b4b6d23024a1.jpg); background-size: cover;">
	<br><br>

	<div class="container">
	  <div class="jumbotron" style="background-color: blanchedalmond;">
		<h1 class="display-4" style="font-family:''"><center><strong>Login with your Account Information</strong></center></h1>
		<form action="/login" method="post">
		<div class="form-group">

		  <div class="row" id="uoption">
			<label for="uname"> </label>
			<input class="form-control input-sm" type="text" id="uname" placeholder="Enter your username" name="uname">
		  </div>
		  
		  Use email instead?
		  <label for="yesEmail"> Yes </label>
		  <input class="form-check-input" onclick="byEmail(1)"  type="radio" name="Question" id="yesEmail"  value="Yes" style="margin-top: 18px">
		  <label for="noEmail"> No </label>
		  <input class="form-check-input" onclick="byEmail(0)"  type="radio" name="Question" id="noEmail"  value="No" checked style="margin-top:18px">
	
		  <div class="row" id="eoption" style="visibility:hidden">
			<label for="email"> </label>
			<input class="custom-select input-sm" type="email" id="email" placeholder="Enter your email" name="email">
		  </div>
	
		  <label for"password"> </label>
		  <input class="form-control input-sm" type="password" id="password" placeholder="Enter your password" name="password">
	<br>
		  
		  <input type="submit" value="Login" class="btn subbut btn-primary btn-block">
		  </form>
		  <% var errMsg = ''; %>
			<% if (error) {
				errMsg += `<div class="alert alert-danger" role="alert">
					${error}
				  </div>`; %>
			<% } %>
			<%- errMsg %>
		</div>
  
		
	  </div>
	</div>

</body>
</html>

