<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<!--TODO-->

<!--HTML/CSS/Format-->
<!--
    -Make background of navbar the wood picture we want
    -Make background of body picture of forest
    -Currently submission button has zero functionality. Should take user to their created profile page when they make one
    -Add navbar functionality (link to home page at least)
-->

<!--Javascript-->
<!--
    -COMPLETED Matthew -> Validate that the entered passwords are the same. If not, ask user to resubmit with matching passwords 
    -Validate that the enetered email address is a valid one (has an @xxxxxx.com at the end)
        -Maybe also check that email site exists? (Not sure how feasible)
    -Built in alert function for missing parameters (also diff required fields from optional fields)

    SEE login.js
-->



<!--Database-->
<!--
    -Once everything is validated, add user with specified parameters to database
-->

<!--Additional Features-->
<!--
    -Let user upload a profile picture (could also only have this done once user is registered)
-->
<link rel="stylesheet" href="/views/css/registration.css">

</head>
<body class="bg">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: blanchedalmond;">

    </nav>
    <br>
    <div class="container">

        <div class="jumbotron" style="background-color: blanchedalmond;">
            <!-- Template Needs to be implemented at a later time -->
            <h1 class="display-4" style="font-family:''"><center><strong>Creating a GoFish Account</strong></center></h1>
            
            <br>

            <hr class="my-4">

            <p><strong><center>Fill out all information below (all fields are required!)</center></strong></p>
            <br><br>

            <form style="background-color: blanchedalmond;" onSubmit = "checkPassword(this)">
                <!--Display name and user handle, similar to how Twitter has an @ and a display name - Spencer-->
                <div class="form-group">
                    <label class="sr-only" for="firstname">Firstname</label>
                    <input type="text" required class="form-control" required = "required" id="firstname" oninput="invalidusernames(id);" placeholder="First name" size="10" name="first_name">
                </div>

                <div class="form-group">
                    <label class="sr-only" for="lastname">Lastname</label>
                    <input type="text" required class="form-control" required = "required" id="lastname" oninput="invalidusernames(id);" placeholder="Last name" size="10" name="last_name">
                </div>
                
                <div class="form-group">
                    <label class="sr-only" for="displayName">User Name</label>
                    <input type="text" required class="form-control" required = "required" id="displayName" oninput="invalidusernames(id);" placeholder="User Name" size="10" name="user_name">
                </div>

                <br>

                <div class="form-group">
                  <label class="sr-only" for="email">Email Address</label>
                  <input type="email" required class="form-control" required="required" id="email" placeholder="Email" name="email">
              </div>
  
                <div class="form-group">
                    <label class="sr-only" for="pword">Password</label>
                    <input name="password1" type="password" required = "required" class="form-control" id="password" placeholder="Password" name="password" >
                </div>
    
                <div class="form-group">
                    <label class="sr-only" for="confirmpword">Confirm Password</label>
                    <input name="password2" type="password" required = "required" class="form-control" id="confirm_password" placeholder="Confirm Password">
                </div>
    
                <br>
    

                <br><br><br><br>

                <!-- <div class="form-group">
                    <label class="sr-only" for="email">Email Address</label>
                    <input type="text" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required class="form-control" id="email" placeholder="Email">
                </div> -->
    

                <!-- Note: Name for both inputs must be the same to reflect selection of one option over the other -->
    </div>

        
       


            <input type="submit" value="Go Fish!" onclick="checkPassword" class="btn btn-primary btn-block">
            <br><br><br>
        </form>
    </div>
    <script src="../scripts/login.js"></script>
</body>
</html>