<% if (items) { %>

  
  

                
  <div class="card-columns">
  <!-- OPTION 2: Iterate over items and output html within the loop  -->
  <% items.forEach(function(post) { %>
  

  
      <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%-post.post_name%></h5>
        <p class="card-text">Posted By: <%-post.user_name%></p>
        
          <img src= '<%-post.post_image%>' alt="Image Failed to Load" height= "300px" width="310px" display="block" margin-left="auto" margin-right="auto">
        
        
        <br>
        <br>
        <!-- Will be implemenmted later to link to user profile page -->
        <button class="btn btn-primary" onclick = "window.location.href = '';">
          <br>
        </button> <br>

        <br>
        
        <p class="card-text"><%- post.post_content%></p>

        
        </div>
      </div>
      


  <% }) %>

</div>

<% } %>