<nav class="navbar navbar-expand-sm sticky-top" style="background-color: blanchedalmond;">
    <ul class="navbar-nav">
        <li>
            <a href="/" target="_bla">
                <img src="..\img\GoFishLogo.png" width="300px" height="50px">
            </a>
        </li>
    </ul>
    <ul class="navbar-nav  ml-auto">
      <% var endLinks = ''; %>
      <% if (user) {
        endLinks += `<li class="nav-item">
          <a class="nav-link" href="/feed">Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile/${user}">Profile</a>
        </li>
        <li class = "btn btn-primary" href ="/logout">Logout</li>`;
      } else {
        endLinks += `<li class="nav-item">
          <a class="nav-link" href="/registration">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>`;
      } %>
      <%- endLinks %>
      
    </ul>
  </nav>

  