#Literally just copied the one from lab 10 -- Spencer
# ignore all .env files
.env

# ignore node_modules. The .dockerignore should prevent these anyway, but JIC.
node_modules/

# ignore post images folder, should be local folder purely for testing. 

postimages/