<% if (items) { %>

  
  

                
  <div class="card-columns">
  <!-- OPTION 2: Iterate over items and output html within the loop  -->
  <% items.forEach(function(post) { %>
  

  
      <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%-post.post_name%></h5>
        <% var postedBy = `Posted By: <a href='/userprofile/${post.user_id}'>${post.user_name}</a>`; %>
        <p><%- postedBy %></p> 
        <% var picture = ''; %>
        <% if (post.post_image != '') { %>
          <% picture += `<img src= '${post.post_image}' height= "300px" width="310px" display="block" margin-left="auto" margin-right="auto">`; %>
        <% } %>
        <%- picture %>
          
        
        
        <br>
        <br>
        <!-- Will be implemenmted later to link to user profile page -->
        
        <br>
        
        <p class="card-text"><%- post.post_content%></p>

        
        </div>
      </div>
      


  <% }) %>

</div>

<% } %>