<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>GoFishFeed</title>
    <link rel="stylesheet" href="style.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <nav class="navbar navbar-expand-sm sticky-top" style="background-color: blanchedalmond;">
      <ul class="navbar-nav">
          <li>
              <a href="https://www.google.com/search?q=fish&rlz=1C1CHZO_enUS907US907&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj3hdrEj5L2AhU0O30KHag5AvgQ_AUoAXoECAEQAw" target="_bla">
                  <img src="..\img\GoFishLogo.png" width="300px" height="50px">
              </a>
          </li>
      </ul>
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href=gofishhome.html>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=GoFishFeed.html>Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=registration.html>Profile</a>
        </li>
      </ul>
    </nav>

  </head>

  <body style="background-color:rgb(175, 175, 175);">

        <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
            <ul class="navbar-nav">
                <li>
                    <a href="https://www.google.com/search?q=fish&rlz=1C1CHZO_enUS907US907&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj3hdrEj5L2AhU0O30KHag5AvgQ_AUoAXoECAEQAw" target="_bla">
                        <img src="..\img\GoFishLogo.png" width="300px" height="50px">
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="https://www.google.com/search?q=fish&rlz=1C1CHZO_enUS907US907&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj3hdrEj5L2AhU0O30KHag5AvgQ_AUoAXoECAEQAw">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.google.com/search?q=fish&rlz=1C1CHZO_enUS907US907&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj3hdrEj5L2AhU0O30KHag5AvgQ_AUoAXoECAEQAw">Feed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.google.com/search?q=fish&rlz=1C1CHZO_enUS907US907&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj3hdrEj5L2AhU0O30KHag5AvgQ_AUoAXoECAEQAw">Profile</a>
              </li>
            </ul>
        </nav> -->

        <br><br><br><br>

        <div class="container mb-5">
          <div style="width: 700px" class="mx-auto">
            <h2 class="mb-3">The Fish Feed</h2>

            <div class="media">
              <img src="../img/bateman.jpg" width="48" class="mr-3 rounded">
                <div class="media-body">
                  <p class="mb-1">
                    <a href="#">Christian Bale</a>
                  </p>
                  <p>
                    @BigBatmanBale
                  </p>

                  <div class="card">
                    <div class="card-body">
                      <div class="media">
                        <img src="https://bloximages.chicago2.vip.townnews.com/willmarradio.com/content/tncms/assets/v3/editorial/b/cd/bcd369d2-e5fc-11e5-8aa4-cfedadbceac3/56e028546501b.image.jpg" width="70px" height="90px" class="mr-2 rounded">
                          <div class="media-body text-muted">
                            My friend Paul just caught this behemoth, talk about a rivermonster! We were fishing by the Mason River when he caught this thing.
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
  <hr/>
            <div class="media">
              <img src="../img/hotdogman.png" width="48" class="mr-3 rounded">
                <div class="media-body">
                  <p class="mb-1">
                    <a href="#">Hotdog Jim</a>
                  </p>
                  <p>
                    @HotDogWater488
                  </p>

                  <div class="card">
                    <div class="card-body">
                      <div class="media">
                        <img src="https://pbs.twimg.com/media/Ed92L0NWsAE1Ugy.jpg" width="70px" height="90px" class="mr-2 rounded">
                          <div class="media-body text-muted">
                            I love fish just about as much as I love hotdogs! Lets go!
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
<hr/>
            <div class="media">
              <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" width="48" class="mr-3 rounded">
                <div class="media-body">
                  <p class="mb-1">
                    <a href="#">John Smith</a>
                  </p>
                  <p>
                    @DefaultUser18463
                  </p>

                  <div class="card">
                    <div class="card-body">
                      <div class="media">
                        <img src="https://previews.123rf.com/images/vrozhko/vrozhko1504/vrozhko150400005/38706619-fresh-raw-fish-on-a-hook-isolated-on-white-background-with-clipping-path-vertical-orientation.jpg" width="70px" height="90px" class="mr-2 rounded">
                          <div class="media-body text-muted">
                            Hey guys just created an account, how do I do anything? I need to delete some posts so my parents don't see them...
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
<hr/>
        <div class="media">
          <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" width="48" class="mr-3 rounded">
            <div class="media-body">
              <p class="mb-1">
                <a href="#">John Smith</a>
              </p>
              <p>
                @DefaultUser18463
              </p>

              <div class="card">
                <div class="card-body">
                  <div class="media">
                    <img src="https://bloximages.chicago2.vip.townnews.com/willmarradio.com/content/tncms/assets/v3/editorial/b/cd/bcd369d2-e5fc-11e5-8aa4-cfedadbceac3/56e028546501b.image.jpg" width="70px" height="90px" class="mr-2 rounded">
                      <div class="media-body text-muted">
                        Hey guys just created an account, how do I do anything? I need to delete some posts so my parents don't see them...
                      </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>




  </body>
</html>
