<!DOCTYPE html>
<html>
    <head>
        <title>User Profile</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        
        <!--TODO: Add navbar-->

        <nav class="navbar navbar-expand-sm sticky-top" style="background-color: blanchedalmond;">
            <ul class="navbar-nav">
                <li>
                    <a href="https://www.google.com/search?q=fish&rlz=1C1CHZO_enUS907US907&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj3hdrEj5L2AhU0O30KHag5AvgQ_AUoAXoECAEQAw" target="_bla">
                        <img src="..\img\GoFishLogo.png" width="300px" height="50px">
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href= gofishhome.html>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href= GoFishFeed.html >Feed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href= registration.html>Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href= login.html>Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href= userprofile.html>Profile</a>
              </li>
            </ul>
        </nav>
    </head>


    <body style="background-image: url(https://i.pinimg.com/originals/eb/57/ce/eb57ced271aecdfc5e63b4b6d23024a1.jpg); background-repeat: no-repeat; background-size: cover;">
        <br><br>
        <div class="container" style="background-color: blanchedalmond;">
            <br>
            <div class="row">
                <div class="col">
                    <div class="card bg-light">
                        <img class="card-img-top" src="../img/hotdogman.png" height="125px" width="125px">
                        <h4>Hotdog Jim</h4>
                        <h6>@HotDogWater488</h6>
                        <h7>Location: Missouri</h7>
                        <p>I love hot dogs!</p>
                    </div>
                    
                </div>
                <div class="col-10">
                    <div class="card bg-light">
                        <h3>Best Catches</h3>
                        <div class="card-deck">
                            <div class="card bg-light">
                                <img class="card-img-top" src="https://media.fisheries.noaa.gov/2020-10/blue%20catfish%20face.jpg?VersionId=null" height="250px" width="250px">
                                <h5>Species: Blue Catfish</h5>
                                <h5>Length: 43''</h5>
                                <h5>Weight: 36 lb</h5>
                                <h5>Date: 01/01/2022</h5>
                                <h5>Location: St. Louis, MO</h5> 
                            </div>
                            <div class="card bg-light">
                                <img class="card-img-top" src="https://portal.ct.gov/-/media/DEEP/fishing/freshwater/freshwater_fishes/Sunfishes-and-Freshwater-Basses/60aLargemouthBass36cmcompressed.jpg?sc_lang=en&hash=C80E156167321A4A13D75DA0E06E7638" height="250px" width="250px">
                                <h5>Species: Largemouth Bass</h5>
                                <h5>Length: 34''</h5>
                                <h5>Weight: 25 lb</h5>
                                <h5>Date: 06/18/2021</h5>
                                <h5>Location: Jefferson City, MO</h5> 
                            </div>
                            <div class="card bg-light">
                                <img class="card-img-top" src="https://www.nhm.ac.uk/content/dam/nhmwww/discover/megalodon/megalodon_warpaint_shutterstock-full-width.jpg.thumb.1160.1160.jpg" height="250px" width="250px">
                                <h5>Species: Great White Shark</h5>
                                <h5>Length: 17'</h5>
                                <h5>Weight: 4000 lb</h5>
                                <h5>Date: 07/04/2021</h5>
                                <h5>Location: Little Rock, AK</h5> 
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-2">
                <input class="btn btn-success btn-block" type="submit" value="Add catch" onclick="addCatch()">

                <form action="userprofile.html" method="post" id="catch" style="visibility: hidden; height: 0">
                    <label for="name">Enter the name of the fish you caught</label>
                    <input class="form-control input-sm" type="text" id="name" placeholder="specimen name">
                    <br>
                    <label for="length">Enter the length of the fish you caught</label>
                    <input class="form-control input-sm" type="text" id="length" placeholder="fish length">
                    <br>
                    <label for="weight">Enter the weight of the fish you caught</label>
                    <input class="form-control input-sm" type="text" id="weight" placeholder="fish weight">
                    <br>
                    <label for="date">Enter the date you caught this fish(in MM/DD/YYYY format)</label>
                    <input class="form-control input-sm" type="text" id="date" placeholder="date of catch">
                    <br>
                    <label for="location">Enter where you caught this fish</label>
                    <input class="form-control input-sm" type="text" id="location" placeholder="location of catch">
                    <br>

                    <input class="btn btn-success" type="submit" value="submit" onclick="close(1)">

                    <input class="btn" type="submit" value="cancel" onclick="close(0)">

                </form>
                
            </div>

            <!--script to load table for adding a catch-->
            <script>
                function addCatch()
                {
                    document.getElementById("catch").style.visibility = "visible";
		            document.getElementById("catch").style.height = "auto";
                }

                function close(type)
                {
                    document.getElementById("catch").style.visibility = "hidden";
		            document.getElementById("catch").style.height = 0;
                }
            </script>


            <div class="row"><br></div>

            <div class="row">
                <br>
                <div class="col-2">
                    <div class="card bg-light">
                        <h4>Fishing Buddies</h4>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="media">
                                    <img src="../img/bateman.jpg" width="48" class="mr-3 rounded">
                                      <div class="media-body">
                                        <p class="mb-1">
                                          <a href="#">Christian Bale</a>
                                        </p>
                                    </div>
                                </div>    
                            </li>

                            <li class="list-group-item">
                                <div class="media">
                                    <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" width="48" class="mr-3 rounded">
                                        <div class="media-body">
                                            <p class="mb-1">
                                                <a href="#">John Smith</a>
                                            </p>
                                        </div>
                                </div>    
                            </li>

                            <li class="list-group-item">
                                <div class="media">
                                    Add friend
                                    
                                </div>
                                <br>
                                    <div class="row" id="uoption">
                                        <label for="fcode"> </label>
                                        <input class="form-control input-sm" type="text" id="fcode" placeholder="Enter friend code">
                                    </div>
                            </li>
                        </ul>


                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light">
                        <h3>Most Recent Post</h3>
                        <div class="card">
                            <div class="card-body">
                              <div class="media">
                                <img src="https://pbs.twimg.com/media/Ed92L0NWsAE1Ugy.jpg" width="70px" height="90px" class="mr-2 rounded">
                                  <div class="media-body text-muted">
                                    I love fish just about as much as I love hotdogs! Lets go!
                                  </div>
                              </div>
                            </div>
                          </div>
                        <!--TODO: Fill this in once feed layout is shown-->
                    </div>
                </div>
            </div>
            <br><br>
        </div>
        <br><br>

    </body>
</html>

<br><br>

<div class="container">
  <div class="jumbotron" style="background-color: blanchedalmond;">
    <h1 class="display-4" style="font-family:''"><center><strong>Login with your Account Information</strong></center></h1>
    <form action="/login" method="post" style="background-color: blanchedalmond;">


      <div class="form-group" id="uoption">
        <input class="form-control input-sm" type="text" id="uname" placeholder="Enter your username" name="uname">
      </div>
      <div class="form-check form-check-inline">
        Use email instead?
      <label for="yesEmail"> Yes </label>
      <input class="form-check-input" onclick="byEmail(1)"  type="radio" name="Question" id="yesEmail"  value="Yes" style="margin-top: 18px">
      <label for="noEmail"> No </label>
      <input class="form-check-input" onclick="byEmail(0)"  type="radio" name="Question" id="noEmail"  value="No" checked style="margin-top:18px">
      </div>

      <div class="form-group" id="eoption" style="visibility:hidden">
        <label for="email"> </label>
        <input class="custom-select input-sm" type="email" id="email" placeholder="Enter your email" name="email">
      </div>

      <div class="form-group">
        <input class="form-control input-sm" type="password" id="password" placeholder="Enter your password" name="password">
      </div>
<br>
      
      <input type="submit" value="Login" class="btn subbut btn-primary btn-block">
      </form>
      <% var errMsg = ''; %>
        <% if (error) {
            errMsg += `<div class="alert alert-danger" role="alert">
                ${error}
              </div>`; %>
        <% } %>
        <%- errMsg %>

    
  </div>
</div>